<ul class="page-list">
  {% for article in articles %}
  <li>
    <article>
      <h2><a href="{{ article.url | url }}">{{ article.data.title }}</a></h2>
      <small>
        {{ article.data.submitted_by }} ::
        <time>{{ article.data.submitted_at }}</time>
      </small>
    </article>
  </li>
  {% endfor %}
</ul>

<nav class="pagination" aria-labelledby="posts-pagination">
  <h2 id="posts-pagination">More Posts:</h2>
  <ol>
    {%- for pageEntry in pagination.pages %}
    <li><a href="{{ pagination.hrefs[ loop.index0 ] | url }}" {% if page.url==pagination.hrefs[ loop.index0 ] %}
        aria-current="page" {% endif %}>{{ loop.index }}</a></li>
    {%- endfor %}
  </ol>
</nav>
