body {
  font-family: sans-serif;
}

a {
  color: #820000;
}

body > header {
  background-color: #820000;
  color: #fff;
  padding: 1rem;
  text-align: center;
  font-size: 3em;
}

header a {
  color: #fff;
  text-decoration: none;
}

.pagination ol {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1em;
}

.pagination ol li {
  outline: 1px solid #820000;
  padding: 0.25em 0.5em;
}
