---
layout: mundana/base-layout
---
<div class="container">
  <div class="card-columns">
    {% for project in projects %}
    <div class="col-auto mb-3">
      <div class="card">
        <div class="card-header">
          <h3 class="h5 mb-0">{{ project.data.title }}</h3>
        </div>
        <img class="card-img-top" src="{{ project.data.image | url }}" alt="{{ project.data.title }}">
        <div class="card-body">
          <p class="card-text">{{ project.content | markdown | safe }}</p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
</div>
