<li class="nav-item">
  <a class="nav-link" href="{{ '/' | url }}"{% if page.url == '/' %} aria-current="page"{% endif %}>Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ '/about-dh-stanford' | url }}">About</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ '/projects' | url }}">Projects</a>
</li>
<li class="nav-item">
  <a target="_blank" rel="noopener noreferrer" class="nav-link" href="http://library.stanford.edu/research/cidr/workshops" aria-label="Workshops (opens in a new tab)">Workshops</a>
</li>
<li class="nav-item">
  <a target="_blank" rel="noopener noreferrer" class="nav-link" href="https://dhminor.stanford.edu/" aria-label="DH Minor (opens in a new tab)">DH Minor</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ '/slavic' | url }}">Slavic</a>
</li>
