<li class="nav-item">
  <a class="nav-link" href="{{ '/' | url }}">Home</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ '/about-dh-stanford' | url }}">About</a>
</li>
<li class="nav-item">
  <a class="nav-link" href="{{ '/projects' | url }}">Projects</a>
</li>
<li class="nav-item">
  <a target="_blank" class="nav-link" href="http://library.stanford.edu/research/cidr/workshops">Workshops</a>
</li>
<li class="nav-item">
  <a target="_blank" class="nav-link" href="https://dhminor.stanford.edu/">DH Minor</a>
</li>
