---
layout: layouts/page
---

<article class="article">
  <h1>{{ title }}</h1>
  <small>
    Submitted By: <span>{{ submitted_by }}</span> on <time>{{ submitted_at }}</time>
  </small>

  {% if post_images %}
  <ul class="post-images">
    {% for url in post_images %}
    <li><img src="{{ url }}"></li>
    {% endfor %}
  </ul>
  {% endif %}

  {{ content | safe }}

  {% if comments %}
  <section class="comments">
    <header>Further Discussion:</header>
    {% markdown %}
    {{ comments }}
    {% endmarkdown %}
  </section>
  {% endif %}

  <footer>
    <small>
      <a href="{{ url }}">{{ url }}</a>
    </small>
  </footer>
</article>
