---json
{
"permalink": "rss.xml",
"eleventyExcludeFromCollections": true,
"metadata": {
  "title": "Digital Humanities @ Stanford",
  "subtitle": "Articles and events from the Digital Humanities community at Stanford University",
  "url": "https://digitalhumanities.stanford.edu/",
  "feedUrl": "https://digitalhumanities.stanford.edu/feed.xml",
  "author": {
    "name": "Digital Humanities @ Stanford"
    }
  }
}
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ metadata.title }}</title>
  <subtitle>{{ metadata.subtitle }}</subtitle>
  <link href="{{ metadata.feedUrl }}" rel="self" />
  <link href="{{ metadata.url }}" />
  <updated>{{ collections.pages | getNewestCollectionItemDate | dateToRfc3339 }}</updated>
  <id>{{ metadata.url }}</id>
  <author>
    <name>{{ metadata.author.name }}</name>
  </author>
  {%- for article in collections.pages %}
  {% set absolutePostUrl %}{{ article.url | url | absoluteUrl(metadata.url) }}{% endset %}
  <entry>
    <title>{{ article.data.title }}</title>
    <link href="{{ absolutePostUrl }}" />
    <updated>{{ article.date | dateToRfc3339 }}</updated>
    <id>{{ absolutePostUrl }}</id>
    <content type="html">{{
      (
      '<p><small>' + article.data.author + ' · ' + article.data.date | formatDate + '</small></p>' +
      '<img src="' + article.data.post_images[0] + '" alt="' + article.data.title + '">' +
      article.templateContent
      ) | htmlToAbsoluteUrls(absolutePostUrl) }}</content>
  </entry>
  {%- endfor %}
</feed>
